.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caixa {
  padding: 25px;
  border-radius: 5px;
  background: #fff;
  width: 400px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(255, 146, 13, 0.45);
  -moz-box-shadow: 0px 0px 10px 3px rgba(255, 146, 13, 0.45);
  box-shadow: 0px 0px 10px 3px rgba(255, 146, 13, 0.45);
  margin-top: -150px;
  margin-bottom: 30px;
  position: relative;
}
.form-group {
  width: 350px;
}
.form-control {
  margin-bottom: 10px;
}
.form-aniversario {
  margin-bottom: 10px;
}
.logo {
  width: 500px;
  position: relative;
  margin-top: -150px;
}
